site_name: Enigmath

theme:
  name: material

nav:
  - Home: index.md
  - Enigmas:
      - Plus rien sur la ligne: enigmas/Plus rien sur la ligne/text.md
      - Problème de pesée: enigmas/Problème de pesée/text.md

markdown_extensions:
  - admonition
  - codehilite
  - footnotes
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.superfences
  - pymdownx.highlight

extra_javascript:
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

extra_css:
  - css/custom.css

